replicaCount: 1

image:
  repository: ghcr.io/flaresolverr/flaresolverr
  pullPolicy: IfNotPresent
  tag: latest

env:
  - name: LOG_LEVEL
    value: "info"
  - name: LOG_HTML
    value: "false"
  - name: CAPTCHA_SOLVER
    value: "none"
  - name: TZ
    value: "UTC"

service:
  type: LoadBalancer
  port: 8191

resources:
  requests:
    memory: 256Mi
    cpu: 100m
  limits:
    memory: 1Gi
    cpu: 1000m

ingress:
  enabled: false

securityContext:
  runAsNonRoot: false
  runAsUser: 0

podSecurityContext:
  fsGroup: 0
