controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/flaresolverr/flaresolverr
          tag: latest
          pullPolicy: IfNotPresent
        env:
          LOG_LEVEL: info
          LOG_HTML: false
          CAPTCHA_SOLVER: none
          TZ: UTC
        resources:
          requests:
            memory: 256Mi
            cpu: 100m
          limits:
            memory: 1Gi
            cpu: 1000m

service:
  main:
    type: LoadBalancer
    ports:
      http:
        port: 8191

ingress:
  main:
    enabled: false
